@import url('https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css');

body {
    max-width: 720px;
    display: grid;
    align-items: center;
    margin-inline: auto;
    grid-template-columns: 1fr;

    &>a {
        margin-top: 2rem;
    }
}

.lg {
    max-width: var(--size-lg);
}

.btn--grp {
    display: flex;
    gap: 2rem;
}

main {
    display: grid;
}

.two--cols {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

header {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.flex-space {
    justify-content: space-between;
}


.error {
    color: tomato;
}

@media screen and (max-width: 720px) {
    body {
        padding-inline: 1rem
    }

    main {
        grid-template-columns: 1fr;
    }
}