/* Pequeno layout para la seleccion del modo de envio */
.envio {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  /* Crea un nuevo stacking context. Lo uso para esconder el radio button sin que se vaya detras del background, unicamente debajo del icono */
  isolation: isolate;
}

/* Escondo el radio button */
.envio input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.envio label {
  /* Le pongo flex para hacer layout del elemento before */
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-left: 2em;
  padding-right: 1em;
  line-height: 2;
  cursor: pointer;
}

/* Pseudo elemento before */
.envio input[type="radio"] + label::before {
  /* Contenido minimo para que aparezca */
  content: " ";
  position: absolute;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  border: 5px solid hsl(var(--shadow));
  border-radius: 1em;
}

/*  Cambio de color al label cuando se selecciona */
.envio input[type="radio"]:checked + label {
  padding-left: 1em;
  color: hsl(var(--alt-shadow));
}

/* El pseudo elemento before rodee al label */
.envio input[type="radio"]:checked + label::before {
  width: 100%;
  height: 100%;
}

/* Transiciones de 1s con ease function */
.envio label,
.envio label::before {
  transition: all 1s ease;
}

/* Pequena utilidad para que el label como flex item se adapte al contenido*/
.envio-option {
  display: flex;
  align-items: center;
}
